$color-bg-light: #dde0e9;              
$color-bg-trans-white: rgba(255, 255, 255, 0.7); 
$color-dark-blue: #003153;             
$color-gold-brown: #b96d34;            


$main-font: Arial, Helvetica, sans-serif;